{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboards/main.css') }}">
{% endblock %}

{% block content %}
<main>
    <h1>Hospital Dashboard</h1>

    <div class="dashboard-cards">
        <div class="card">
            <h3>Available Blood Units</h3>
            <p>200</p>
        </div>

        <div class="card">
            <h3>Pending Requests</h3>
            <p>12</p>
        </div>
    </div>

    <div class="actions">
        <h2>Actions</h2>
        <button>Request Blood</button>
        <button>Update Inventory</button>
    </div>
</main>
{% endblock %}